@font-face{
    font-family: DM_sans_medium;
    font-display: swap;
    src: url("../fonts/DMSans-Medium.ttf");
    src: local("0"), url("../fonts/DMSans-Medium.woff") format("woff"),
    url("../fonts/DMSans-Medium.ttf") format("truetype"),
    url("../fonts/DMSans-Medium.svg") format("svg");
}
@font-face{
    font-family: darker;
    font-display: swap;
    src: url("../fonts/DarkerGrotesque-SemiBold.ttf");
    src: local("0"),
    url("../fonts/DarkerGrotesque-SemiBold.ttf") format("woff"),
    url("../fonts/DarkerGrotesque-SemiBold.ttf") format("truetype"),
    url("../fonts/DarkerGrotesque-SemiBold.ttf") format("svg");
}
@font-face{
    font-family: DM_sans_bold;
    font-display: swap;
    src: url("../fonts/DM_Sans.zip/DM_sans_bold");
    src: local("0"),
    url("../fonts/DM_sans_bold.woff") format("woff"),
    url("../fonts/DM_sans_bold.ttf") format("truetype"),
    url("../fonts/DM_sans_bold.svg") format("svg");
}
@font-face{
    font-family: lucida;
    font-display: swap;
    src: url("../fonts/Lucida Bright.zip/lucida.ttf");
    src: local("0"),
    url("../fonts/lucida.woff") format("woff"),
    url("../fonts/lucida.ttf") format("truetype"),
    url("../fonts/lucida.svg") format("svg");
}
$black: #000000;
$sp-ar: space-around;
$cen: center;
%lucida-br {
    font-family:"Lucida Bright Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 140%;
}
%sans{
    font-family: "DM_Sans_Medium";
    font-style: normal;
    font-weight: 500;
}
*{
    padding: 0;
    margin: 0;
}
body{
    height: 100%;
    width: 100%;
    align-content: center;

}
.menu{
    color: $black;
    font-style: normal;
    font-family: "DM_sans_medium";
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__logo{
        font-weight: 700;
        font-size: 35px;
        line-height: 46px;
        margin-top: 45px;
    }
}
.container{
    margin: 0 auto;
} 
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    text-align: $cen;
    background: #F7F6F5;
}
.pp{
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
    width: 40%;
    &__p, &__p2{
        font-weight: 500;
        font-size: 23px;
        line-height: 30px;
    }
}
.icon{
    display: flex;
    justify-content: $sp-ar;
    margin-top: 45px;
    width: 11%;
}
li{
    list-style: none;
}
.main{
    
    &__group1{
        width: 50%;
        align-items: center;
        align-content: center;
        
        /* padding: 0px; */
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: unset;
        align-content: center;
        align-content: center;
        align-content: flex-end;
    }
    &__photo{
        img{
            max-width: 100%;
             height: auto;
        }
        width: 40%;
    }
    background: #F7F6F5;
    display: flex;
    align-items: $cen;
    justify-content: space-evenly;
    padding-top: 9px;
    &__h1{
        font-family: "lucida";
        font-style: normal;
        font-weight: 600;
        font-size: 75px;
        line-height: 110%;
        color: #161616;  
    }
    &__p{
        @extend sans !optional;
        font-size: 25px;
        line-height: 160%;
        color: #6E6E6E;
        margin-top: 30px;
    }
    &__button{
        font-family: "darker";
        background: #FF6155;
        max-width: 200px;
        max-height: 70px;
        color: white;
        font-weight: 600;
        font-size: 25px;
        padding: 16px 63px 20px 53px;
        line-height: 34px;
        text-align: $cen;
        border-radius: 7px 10px 50px 7px;
        &_2{
            font-family: "darker";
            background: $black;
            max-width: 200px;
            max-height: 70px;
            color: white;
            font-weight: 600;
            font-size: 25px;
            padding: 16px 35px 20px 45px;
            line-height: 34px;
            text-align: $cen;
            border-radius: 50px 7px 7px 10px;
        }
    }
    &__flex{
        display: flex;
        align-items:$cen;
        margin-top: 50px;
    }
}
.line{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 80px;
}
.text{
    width: 40%;
    &__h{
        @extend %lucida-br;
        letter-spacing: -0.02em;
        color: #181817;
    }
    &__p{
        @extend sans !optional;
        font-size: 22px;
        line-height: 160%;
        color: rgba(0, 0, 0, 0.7);
        margin-top: 20px;
    }
    &__button{
        font-family: 'darker';
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 34px;
        color: #FFFFFF;
        background-color: $black;
        max-width: 200px;
        max-height: 70px;
        text-align: $cen;
        border-radius: 7px 10px 50px 7px;
        padding: 16px 13px 20px 3px;
        margin-top: 40px;
    }
}
.text2{
    width: 50%;
    float: right;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}
.glavnoe__otdel, .glavnoe__otdel2{
    img{
        max-width: 100%;
        height: auto;
        
    }
    &_img{
        width: 40%;
        margin: 0 auto;
    }
    &_img2{
        width: 40%;
        
    }
    &__text2{
        width:50%;
        float: right;
    }
    display: flex;
    align-items: $cen;
    justify-content: space-evenly;
    margin-top: 137px;
}
.glavnoe__otdel2 {
    background-color: #F6F5F1;
    height: 547px;
}
.popular{
    margin-top: 163px;
    &__line1{
        display: flex;
        align-items: $cen;
        justify-content: $sp-ar;
        &_h{
        @extend %lucida-br;
        letter-spacing: -0.02em;
        color: #181817;
        }
    }
    &__glavnoe{
        margin-top: 124px;
        display: flex;
        justify-content: $cen;
        align-items: $cen;
    }
}
.card1{
    display: flex;
    justify-content: $cen;
    align-items: $cen;
    &__text{
        &_h{
            font-family: 'Lucida Bright Regular';
            font-style: normal;
            font-weight: 400;
            font-size: 25px;
            line-height: 140%;
            letter-spacing: -0.02em;
            color: #181817;
        }
        &_p{
            font-family: 'DM_sans_medium';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            margin-top: 15px;
            line-height: 160%;
            color: rgba(0, 0, 0, 0.7);
        }
        &_button{
            font-family: 'darker';
            font-style: normal;
            font-weight: 600;
            font-size: 18.4834px;
            line-height: 25px;
            color: #FFFFFF;
            max-width: 147.87px;
            max-height: 51.75px;
            background: #161616;
            border-radius: 5.17536px;
            text-align: $cen;
            padding: 11px 0px 14px 0px;
            border-radius: 7px 10px 50px 7px;
            margin-top: 20px;
        }
    }
}
.connect{
    margin-top: 144px;
    h1{
        font-family: 'Lucida Bright Regular';
        font-style: normal;
        font-weight: 600;
        font-size: 55px;
        line-height: 70px;
        text-align: $cen;
        letter-spacing: -0.02em;
        color: #181817;
    }
    p{
        @extend sans !optional;
        font-size: 22px;
        line-height: 160%;
        text-align: $cen;
        color: rgba(0, 0, 0, 0.7);
        margin-top: 20px;
    }
    &__form{
        display: flex;
        justify-content: $cen;
        margin-top: 28px;
        
    }
    &__email{
        font-family: 'darker';
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 30px;
        text-align: $cen;
        color: #181817;
        opacity: 0.7;
        width:471px;
        border: 1px solid #D1D1D1;
    }
    &__btn{
        background: #161616;
        border-radius: 0px 15px 15px 0px;
        width: 186px;
        height: 96px;
        font-family: 'DM_sans_medium';
        font-style: normal;
        font-size: 20px;
        line-height: 26px;
        align-items: flex-end;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}
.last{
    margin-top: 47px;
    hr{
    border: 0.6px solid #8F8F8F;
    width: 80%;
    margin: 0 10% 0 10%;
    }
    p{
        font-family: 'darker';
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 100%;
        letter-spacing: -0.015em;
        color: #0B2626;
        text-align: center;
        margin-top: 30px;
    }
}
.allcol{
    display: flex;
    justify-content: $sp-ar;
    align-items: flex-start;
}
footer{
    padding-top: 81px;
    margin-top: 90px;
    height: 438px;
    background: #F7F6F5;
}
.col{
    display: flex;
    flex-direction: column;
    justify-content: $cen;
    
    &__h{
        font-family: 'DM_sans_medium';
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 46px;
        color: #000000;
    }
    &__p{
        margin-top: 30px;
        font-family: 'darker';
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 150%;
        letter-spacing: -0.015em;
        color: #0B2626;
        &_1, &_2{
            display: flex;
            align-items: $cen;
            p{
                margin-left:15px;
            }
        }
    }
}
@media (min-width:2100px) {
    .menu{
        &__logo{
            font-size: 55px ;
        }
    }
    .pp{
       &__p{
        font-size: 30px;
       } 
       &__p2{
        font-size: 30px;
       } 
    }
    .main{
        justify-content: center;
    }
    .glavnoe{
        &__otdel2{
            justify-content: center;
        }
        &__otdel{
            justify-content: center;
            &_text{
                margin-left: 50px;
                margin-right: 50px;
            }
        }
        
    }
}
@media(max-width:1550px){
    .main{
        
        
        &__h1{
            font-size: 300%;
        }
        
        
    }
    .glavnoe{
        &__otdel2{
            justify-content: center;
        }
    }
    .text{
        &__h{
            font-size: 260%;
        }
    }
}
@media(max-width:1261px){
    .menu{
        &__logo{
            font-size: 20px;
        }
    }
    .pp{
        &__p{
            font-size: 15px;
        }
        &__p2{
            font-size: 15px;
        }
    }
    .icon{
        width: 7%;
        &__i img{
            width: 60%;
        }
        }
    .main{
        
        &__p{
            font-size: 17px;
            line-height: 140%;
            margin-top: 20px;
        }
        &__button{
            padding: 5px 41px 11px 35px;
            font-size: 22px;
            &_2{
                padding: 5px 23px 11px 34px;
                font-size: 22px;
            }
        }
    }
    .line{
        margin-top: 40px;
        padding-left: 20px;
        img{
            width: 70%;
        }
    }
    
    
    .text{
        &__h{
            font-size: 210%;
        }
        &__p{
            font-size: 17px;
            line-height: 130%;
        }
        &__button{
            padding: 5px 0px 11px 0px;
            font-size: 22px;
        }
    }
    .popular{
        &__glavnoe{
            justify-content: flex-end;
            flex-direction: column;
            margin-top: 50px;

        }
        &__line1{
            /*img{
                width: 70%;
            }*/
            &_h{
                font-size: 30px;
            }
        }
    }
    .card1{
        margin-top: 20px;
       /* &__img{
            img{
                width: 70%;
                float: right;
            }
        }*/
        &__text{
            &_h{
                font-size: 19px;
            }
            &_p{
                font-size: 14px;
            }
            &_button{
                padding: 5px 0px 11px 0px;
                font-size: 19px;
            }
        }
    }
    .connect{
        margin-top: 50px;
        h1{
            font-size: 29px;
        }
        p{
            margin: 0 auto;
            font-size: 17px;
            line-height: 130%;
        }
        &__email{
            font-size: 19px;
        }
        &__btn{
            font-size: 14px;
            height: 50px
        }
    }
    .col{
       /* img{
            width: 10%;
        }*/
        &__h{
            font-size: 20px;
        }
        &__p{
            font-size: 17px;
        }
    }
    .last{
        p{
            font-size: 20px;
        }
    }
}
@media(max-width:1050px){
    .glavnoe__otdel2{
        img{
            width: 110%;
        }
        &_img{
            max-width:400px;
        }
    }
  

}
@media(max-width:940px){
    body{
        font-size:74%;
    }
    .menu{
        &__logo{
            font-size: 16px;
        }
    }
    .main{
        
        &__flex{
            margin-top: 25px;
        }
        
        &__button{
            font-size: 14px;
            padding:5px 31px 7px 26px;
            &_2{
                font-size: 14px;
                padding:4px 16px 5px 25px;
            }
        }
    }
    .line {
        margin-top: 15px;
        padding: 0 auto;
        img{
            width:70%;
        }
        &__logo{
            max-width: 100px;
        }
    }
    .text{
        &__button{
            font-size: 14px;
            max-width: 110px;
            margin-top: 20px;
        }
    }
    .pp{
        &__p,&__p2{
            font-size: 12px;
        }
    }
    .glavnoe{
        &__otdel2{
            height: auto;
            img{
                width: 90%;
            }
        }
    }
    .popular{
        margin-top: 70px;
        &__line1{
            &_h{
                font-size: 25px;
            }
        }
    }
    .connect h1{
        font-size: 25px;
    }
    .col{
        &__p{
            font-size: 12px;
            margin-top: 5px;
        }
        &__h{
                font-size: 14px;
        }
    }
    .last p{
        font-size: 15px;
        margin-top: 10px;
    }
}
@media(max-width:770px){
    .col{
        &__p{
            &_1, &_2{
                img{
                    width: 10%;
                }
            }
        }
    }
    body{
        font-size: 60%;
    }
    .glavnoe__otdel2{
        
        &_img{
            max-width: 300px;
        }
    }
    footer{
        padding-top: 5%;
        height:225px;
    }
    .popular{
        &__line1{
            &_h{
                font-size: 17px;
            }
            img{
                width: 50%;
            }
        }
    }
    .card1{
        &__text{
            &_h{
                font-size: 14px;
            }
            &_p{
                font-size: 10px;
            }
            &_button{
                font-size: 10px;
                max-width: 100px;
                padding: 2px 0px 3px 0px;
            }
        }
        &__img{
            width: 40%;
        }
        img{
            max-width: 100%;
        }
    }
    .connect{
        h1{
        font-size: 17px;}
        p{
            font-size: 14px;
        }
        &__btn{
            font-size: 12px;
        }
        &__email{
            font-size: 12px;
        }
       
        &__email{
            max-width: 300px;
        }
        
    }
    .col{
        &__h{
            font-size: 12px;
        }
    }
    .main__button{
        font-size: 12px;
        &_2{
            font-size: 12px;
        }
    }
}
@media(max-width:700px){
    .main{
        &__p{ 
            margin-top: 10px;
        }
        &__button{
            padding:0px 21px 0px 18px;
            &_2{
                padding:0px 9px 0px 16px;
            }
        }
    }
    .glavnoe{
        &__otdel{
            margin-top: 70px;
        }
        &__otdel2{
            margin-top: 70px;
        }
    }
    .text{
        &__p{
            font-size:12px;
            margin-top: 10px;
        }
        &__button{
            font-size:12px;
            margin-top: 10px;
            max-width: 100px;
        }
    }
    .popular{
        margin-top: 50px;
    }
    .pp{
        margin-top: 0px;
        &__p, &__p2{
            font-size: 9px;
        }
    }
    .menu{
        &__logo{
            font-size: 12px;
            margin-top: 0px;
        }
    }
    .icon{
        margin-top: 0px;
    }
    .connect{
        &__email{
            max-width: 200px;
        }
    }
}
@media(max-width:700px){
    body{
        font-size: 50%;
    }
    .main{
        &__p{
            font-size: 9px;
        }
        &__button{
            font-size: 9px;
            max-height: 40px;
            &_2{
                font-size: 9px;
            }
        }
        &__group1{
            width: 33%;
        }
        
        
    }
    .text{
        &__p{
            font-size: 9px;
        }
    }
    .connect{
        &__email{
            max-width: 300px;
        }
    }

}
@media(max-width:600px){
    .text{
        padding: 0px;
    }
    .main{
        &__h1{
            font-size: 210%;
        }
        &__p{
            font-size: 7px;
        }
        &__flex{
            margin-top: 10px;
        }
    }
    
}
@media(max-width:500px){
    .text__button{
        padding: 0px;
    }
    .connect{
        &__email{
            max-width: 200px;
        }
        &__btn{
            max-width: 100px;
            max-height: 30px;
            font-size: 8px;
        }
    }
    .glavnoe__otdel{
        margin-top: 30px;
    }
    .popular{
        &__line1{
            img{
                width: 30%;
                float: right;
            }
        }
    }
    .col{
        &__h{
            font-size: 9px;
        }
        &__p{
            font-size: 7px;
        }
    }
    .last {
        margin-top: 20px;
        p{
        font-size: 10px;
        }
    }
    footer{
        margin-top: 3%;
        height: 160px;
    }
}
@media(max-width:428px){
    .connect{
        margin-top: 25px;
    }
    .main{
        &__button{
            font-size: 7px;
            &_2{
                font-size: 7px;
            }
        }
    }
    .popular__glavnoe{
        margin-top: 25px;
    }
    .glavnoe__otdel2{
        margin-top: 40px;
    }
    .card1{
        &__text{
            &_h{
                font-size: 10px;
            }
            &_p{
                font-size: 6px;
            }
            &_button{
                font-size: 6px;
                padding: 0px;
                max-width: 55px;
                margin-top: 10px;
            }
        }
    }
}
@media(max-width:380px){
    .pp__p, .pp__p2{
        font-size: 7px;
    }
    .main, .text{
        &__h1, &__h{
            font-size: 160%;
        }
        &__p{
            font-size: 5px;
        }
        &__button{
            display: flex;
            justify-content: center;
            font-size: 5px;
            align-items: center;
            max-height: 20px;
            &_2{
                display: flex;
                justify-content: center;
                font-size: 5px;
                align-items: center;
                max-height: 20px;
            }
        }
    }
    .popular{
        &__line1{
            img{
                max-width: 20%;
            }
            &_h{
                font-size: 10px;
            }
        }
    }
    .connect{
        &__email{
            max-width: 150px;
            font-size: 10px;
        }
        &__btn{
            max-width: 70px;
            font-size: 8px;
        }
     h1{
        font-size: 12px;
    }
    p{
        font-size: 9px;
    }
    }
    footer{
        padding-top: 2%;
    }
}